.Rproj.user
.Rhistory
.RData
.Ruserdata
output/ai/
output/ebs/
output/goa/
output/nebs/
output/nbs/
output/ebs_slope/
data/ai/
data/ebs/
data/goa/
data/nebs/
data/nbs/
data/ebs_slope/
data/r_t/
dev/gap_check/data/
inst/doc
